@font-face {
    font-family: magicRetro;
    src: url(./fonts/Magic\ Retro.ttf);
}

* {
    font-family: magicRetro, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7e7ce;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px;
}

.navbar {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #d04f2c;
}

.main {
    /* background-color: #eee; */
    height: 70vh;
    padding: 16px;
}

.main .container {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.main .buttons {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    height: 100%;
    gap: 26px;
}

.main .buttons button {
    height: 60px;
    width: 160px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 16px;
    background-color: antiquewhite;
}

button:hover {
    transform: translate( -3px, -3px);
    box-shadow: 1px 1px 2px #431e15;
}

.buttons .black-btn {
    color: #d6742b;
}

.buttons .gradual-btn {
    color: #d9ac36;
}

.buttons .rainbow-btn {
   color: #d04f2c;
}

.buttons .clear-grid-btn {
    color: #80b0a4;
}

.buttons p {
    font-size: 24px;
    text-align: center;
    color: #431e15;
}

.buttons .secret-btn {
    margin-top: auto;
    margin-bottom: 32px;
    opacity: 0;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 16px;
    background: #d9ac36;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 16px;
    background: #d04f2c;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 16px;
    background: #d04f2c;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

.grid {
    height: 700px;
    width: 700px;
    border: 1px solid black;
}